.logo-login {
    max-width: 150px;
}
.login {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    gap: 1rem;
    height: 100vh; /* Full height of the viewport */
    padding: 0 1rem; /* Add some padding for smaller screens */
    box-sizing: border-box; /* Ensure padding does not affect width */
}
.login form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ensures it doesn't exceed parent width */
    max-width: 400px; /* Limit the width for better appearance */
}

.logo-login {
    max-width: 150px;
    margin-bottom: 2rem; /* Space between logo and form */
}

.goToRegistration {
    display: flex;
    gap: 0.5rem;
    justify-content: center; /* Center content */
}

input.ng-invalid.ng-touched{
  border: 1px solid red;
}

button:disabled{
  background-color: #bdc3c7;
  color: #7f8c8d;
  cursor: not-allowed;
}



/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .logo-login {
        max-width: 200px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .login {

    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .logo-login {
        max-width: 230px;
    }

    .login {
        padding: 0 2rem; /* Add more padding for larger screens */
    }
}
