<div class="book-route" *ngIf="book">
  <div class="book-head">
    <img *ngIf="hasPreviousRoute()" (click)="goBack()" src="../../../../assets/icons/left.svg" alt="back" class="back">
    <h3 class="book-title">{{book.title}}</h3>
  </div>
  <img class="book-img" [src]="book.imageURL" alt="">
  <div class="title-block">
    <h2 class="book-title">{{book.title}}</h2>
    <h4>By: Kumadio</h4>
  </div>
  <ul class="list-categories">
    <li>{{book.categoryId | bookCategoryPipe}}</li>
  </ul>
  <div class="btn-div">
    <button *ngIf="!userHasBook" 
    (click)="addToLibrary()" class="btn_prim">Add to library</button>

    <button *ngIf="userHasBook" class="btn_prim" [routerLink]="['/home/library']" ><img src="../../../../assets/icons/enroll.svg" alt="play">Listen</button>

    <button class="btn_ghost btn-g"><img src="../../../../assets/icons/preview-sound.svg" alt="story-list">
      Preview</button>
  </div>
  <p class="book-desc">{{book.description}}</p>
</div>

