
<div class="main-container">
  <ng-template class="root-form" #rootForm >
    <form [formGroup]="rootPartForm" (ngSubmit)="addRootPart()">
        <h1>Add first part of the book</h1>
        <input type="file" (change)="onFileChange($event)" accept=".mp3" formControlName="partAudio">
        <div formArrayName="answers">
            <div *ngFor="let answer of rootPartFormAnswers .controls; let i=index" [formGroupName]="i">
              <input type="text" formControlName="text" placeholder="Answer Text">
              <button type="button" (click)="removeAnswer(rootPartFormAnswers,i)">Remove</button>
            </div>
        </div> 

        <button type="button" (click)="addAnswer(rootPartFormAnswers)" [disabled]="rootPartFormAnswers.length >= 3">Add Answer</button>
        <button type="submit" [disabled]="rootPartForm.invalid">Submit</button>
    </form>
  </ng-template>

    <div class="container" *ngIf="partTree;else rootForm">
      <div class="row">
        <div class="tree">
          <ul #treeContainer ></ul>
        </div>
      </div>
    </div>
</div>

<app-modal-dialog #answerModal [title]="'NewPart'" [isActive]="false">
  <ng-template #content>
    <form [formGroup]="partForm" (ngSubmit)="addPart()">
      <h5>Add audio file for this part</h5>
      <input type="file" (change)="onFileChange($event)" accept=".mp3" formControlName="partAudio">
      <div formArrayName="answers">
        <div *ngFor="let answer of partFormAnswers.controls; let i=index" [formGroupName]="i">
          <input type="text" formControlName="text" placeholder="Answer Text">
          <button type="button" (click)="removeAnswer(partFormAnswers,i)">Remove</button>
        </div>
      </div> 
      <button type="button" (click)="addAnswer(partFormAnswers)" [disabled]="partFormAnswers.length >= 3">Add Answer</button>
      <button type="submit" [disabled]="partForm.invalid">Submit</button>
    </form>
  </ng-template>
</app-modal-dialog>

<app-modal-dialog #partModal [title]="'PartInfo'" [isActive]="false" (modalClosed)="resetAudioPlayer()">
  <ng-template #content>
    <!-- Content for part modal if needed -->
    <h3>{{clickedPart?.isRoot ? 'Intro' : clickedPart?.parentAnswerText}}</h3>
    <audio #audioPlayer *ngIf="clickedPart?.partAudioLink" controls>
      <source [src]="clickedPart?.partAudioLink" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  </ng-template>
</app-modal-dialog>