# Compiled output
AiAudioTalesClient/dist/
AiAudioTalesClient/tmp/
AiAudioTalesClient/out-tsc/
AiAudioTalesClient/bazel-out/

# Node modules
AiAudioTalesClient/node_modules/
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code - Adjusted for the client project
AiAudioTalesClient/.vscode/*
!AiAudioTalesClient/.vscode/settings.json
!AiAudioTalesClient/.vscode/tasks.json
!AiAudioTalesClient/.vscode/launch.json
!AiAudioTalesClient/.vscode/extensions.json
AiAudioTalesClient/.history/*

# Miscellaneous
AiAudioTalesClient/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Visual Studio - Adjusted for the server project
KumadioServer/.vs/*
*.user
*.userosscache
*.suo
*.tmp
*.userprefs
*.csproj.user
*.vbproj.user

# Exclude audio files
KumadioServer/KumadioServer/uploads

# Exclude migrations
KumadioServer/KumadioServer/Migrations

# -------------------------------
# Additional .NET build artifacts
# -------------------------------
**/bin/
**/obj/
*.dll
*.pdb
*.exe
*.log
*.cache
*.dbmdl
*.jfm
