# Compiled output
AiAudioTalesClient/dist/
AiAudioTalesClient/tmp/
AiAudioTalesClient/out-tsc/
AiAudioTalesClient/bazel-out/

# Node modules - Assuming both projects might have node_modules
AiAudioTalesClient/node_modules/
AIAudioTalesServer/node_modules/
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code - Adjusted for the client project
AiAudioTalesClient/.vscode/*
!AiAudioTalesClient/.vscode/settings.json
!AiAudioTalesClient/.vscode/tasks.json
!AiAudioTalesClient/.vscode/launch.json
!AiAudioTalesClient/.vscode/extensions.json
AiAudioTalesClient/.history/*

# Miscellaneous
AiAudioTalesClient/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Visual Studio - Adjusted for the server project
AIAudioTalesServer/.vs/*
AIAudioTalesServer/AIAudioTalesServer/bin/*
AIAudioTalesServer/AIAudioTalesServer/obj/*
*.user
*.userosscache
*.suo
*.tmp
*.userprefs
*.csproj.user
*.vbproj.user
