<div class="wrapper">
  <div class="search-input" [ngClass]="{'active': isInputActive}">
    <a href="" target="_blank" hidden></a>
    <input [formControl]="searchControl" type="text" placeholder="Type book title.." (focus)="focus()" (blur)="blur()">
    <div class="autocom-box">
      <li *ngFor="let book of filteredBooks" (click)="searchFromInputList(book.title)">{{book.title}}</li>
      <li *ngFor="let searchTerm of searchHistory" (click)="searchFromSearchHistory(searchTerm)">{{searchTerm}}</li>
    </div>
    <div class="icon" (click)="searchSubmit()" ><i class="fas fa-search"></i></div>
  </div>
</div>
