

::selection{
  color: #fff;
  background: #664AFF;
}

.wrapper{
  width: 85%;
  border: none;
  margin: 0;
  padding: 1%;
  z-index: 999;
  position: fixed;
  top: 0;
}

.wrapper .search-input{
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.search-input input{
  height: 40px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 14px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.search-input.active input{
  border-radius: 5px 5px 0 0;
}

.search-input .search-box{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 25%;
  overflow-y: auto;
  background-color: var(--main-bg-color);
}

.search-input.active .search-box{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.search-box li{
  list-style: none;
  padding: 8px 10px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 5px;
  height: 100%;
}

.search-input.active .search-box li{
  display: flex;
  flex-direction: row;
  align-items: center;

}
.search-box li:hover{
  background: #efefef;
}

.search-input .icon{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  font-size: 17px;
  color: #644bff;
  cursor: pointer;
}

.search-book img{
  height: 50px;
  width: 50px;
}

.search-box li span{
  margin-left: 10px;
}

//mobile view
@media (max-width: 768px) {
  .search-box{
    max-height: 100%;
  }

  .wrapper {
    overflow-y: hidden; /* This disables vertical scrolling */
    top: 50px;
    width: 100%;
  }
}