.main-container {
  margin-left: 0.5rem;
  }
.cat-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2rem;
}
@media (min-width: 768px) {
  .main-container {
  margin-left: 1rem;
  }
}