<div class="main-container"><!--(mouseup)="dragStop()"> (mouseleave)="autoPlay()">-->
  <div class="banner-div">
    <img class="banner2" src="../../../assets/banner-test2.png" alt="banner">
    <img class="banner2" src="../../../assets/test-banner.png" alt="banner">
  </div>
  <div class="main-book-div" *ngFor="let category of categories;let index = index;">
    <div class="cat-head">

      <h2>{{category.category | bookCategoryPipe}}</h2>
      <h5>View All</h5>
    </div>

    <app-slider  [size]="(index % 2 === 0) ? 'small' : 'big'" [books]="category.books" [sliderId]="index.toString()"></app-slider>
  </div>
</div>
