<!-- <div class="categories">
  <p>Categories</p>
  <a>See more</a>
</div> -->
<div *ngFor="let bookPaginated of booksPaginated">
  <div class="category-container">

    <h2>{{bookPaginated.booksCategory | bookCategoryPipe}}</h2>

    <div class="books-container">

      <div class="book" *ngFor="let book of bookPaginated.books">
        <img [src]="book.imageURL" alt="">
        <p class="book-title">{{book.title}}</p>
      </div>
    </div>
    <div class="carousel-btns">
      <button class="carousel-btn"> < </button>
      <button class="carousel-btn">></button>
    </div>

  </div>
</div>
