<div class="main-container"><!--(mouseup)="dragStop()"> (mouseleave)="autoPlay()">-->
  <div class="banner-div">
    <img class="banner2" src="../../../assets/banner-test2.png" alt="banner">
    <img class="banner2" src="../../../assets/test-banner.png" alt="banner">
  </div>
  <div class="main-book-div" *ngFor="let bookPaginated of booksPaginated">
    <div class="cat-head">

      <h2>{{bookPaginated.booksCategory | bookCategoryPipe}}</h2>
      <h5>View All</h5>
    </div>

    <app-slider [bookPaginated]="bookPaginated"></app-slider>
  </div>

</div>
