.player-container{
    position: fixed;
    bottom: 50px;
    height: 75px;
    width: 100%;
    background-image: radial-gradient(circle, #d400cf, #aa23c3, #812cb3, #5a2ea0, #352b8a);
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bottom-container {
    display: flex;
    width: 100%;
}

.player{
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 40%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.book-details{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    font-weight: 500;
    color: white;
}

.book-details .book-cover{
  height: 70px;
  width: 120px;
  padding: 5px;
  border-radius: 10px;
  object-fit: cover; /* This ensures the image fills the entire space */
  overflow: hidden;  /* Hides any part of the image that overflows */
}

.book-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Prevent overflow in case of long text */
  margin: 5px;
}


.title, .artist {
  display: inline-block;
  white-space: nowrap; /* Prevent text from wrapping */
}

.scrolling {
  animation: circular-scroll 10s linear infinite; /* Apply the scrolling animation */
}

@keyframes circular-scroll {
  0% {
    transform: translateX(100%); /* Start with the text just off-screen to the right */
  }
  50% {
    transform: translateX(-100%); /* Move the text to the left until it has fully scrolled off-screen */
  }
  100% {
    transform: translateX(100%); /* Move the text back to the starting point, ready to repeat */
  }
}

.controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.control{
  cursor: pointer;
}

.controls img{
  width: 40px;
  height: 40px;

  &:hover {
    transform: scale(1.10); /* Slightly grow the element on hover */
  }
}

.progress-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.progress-container span{
  margin: 5px;
  color: white;
}

.progress-area{
    height: 6px;
    width: 60%;
    border-radius: 50px;
    background: #f0f0f0;
    cursor: pointer;
  }
  .progress-area .progress-bar{
    height: inherit;
    width: 0%;
    position: relative;
    border-radius: inherit;
    //background: linear-gradient(90deg, var(--pink) 0%, var(--violet) 100%);
    background-image: linear-gradient(to right, #cf6bd1, #be7add, #ad88e5, #9d93e9, #909dea, #81a9f2, #73b4f6, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  }
  .progress-bar::before{
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    top: 50%;
    right: -5px;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
    background: inherit;
    transition: opacity 0.2s ease;
  }
  .progress-area:hover .progress-bar::before{
    opacity: 1;
    pointer-events: auto;
  }
  
  .question-container{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .question{
    margin: 10;
    height: 50px;
    width: 50px;
  }

  .mic-active {
    margin-top: 3%;
  }
  
  .pulse{
    border-radius: 50%;
    animation: pulse 2s linear infinite;
  }
  
  .pulse:before, .pulse:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 5px;
  }
  
  .pulse::before{
    width: 15px;
    height: 5.5px;
  }
  
  .pulse::after{
    width: 15px;
    height: 35px;
  }
  
  @keyframes pulse
  {
    0%
    {
      box-shadow: 0 0 0 0 #f0f0f0;
    }
    5%
    {
      transform: scale(1.10);
    }
    25%
    {
      transform: scale(1);
    }
    70%
    {
      box-shadow: 0 0 0 10px rgba(255, 190, 11, 0);
    }
    100%
    {
      box-shadow: 0 0 0 20px rgba(255, 190, 11, 0);
    }
  }

.side-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bottom-progress-area{
  height: 6px;
  width: 100%;
  border-radius: 50px;
  background: #f0f0f0;
  cursor: pointer;
}
.bottom-progress-area .bottom-progress-bar{
  height: inherit;
  width: 0%;
  position: relative;
  border-radius: inherit;
  background-color: #7AFFF7;
}
.bottom-progress-bar::before{
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  top: 50%;
  right: -5px;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-50%);
  background: inherit;
  transition: opacity 0.2s ease;
}

// for desktop
@media (min-width: 768px) {
    .player-container {
        bottom: 0;
        height: 130px;
    }  
}