<div>
    <div *ngIf="!isFullScreen && currentBook;else fullscreen" class="minimized-player-container">
      <div class="top-container">
            
          <div class="book-details">
            <img class="book-cover" [src]="currentBook.imageURL" alt="">

            <div class="book-info">
              <span #titleElement class="title"  [ngClass]="{'scrolling': isTitleOverflowing}">{{ currentBook.title }}</span>
              <span #artistElement class="artist"  [ngClass]="{'scrolling': isArtistOverflowing}">{{ "Kumadio" }}</span>
            </div>
          </div>

          <div class="player">
              <div class="progress-container" >
                  <span class="current-time">{{ currentTime }}</span>
                  <div class="progress-area" (click)="updatePlayingTime($event)" #progressArea>
                      <div class="progress-bar" [style.width]="progress + '%'"></div>
                  </div>
                  <span class="max-duration">{{ maxDuration }}</span>
              </div>

              <div class="controls"  [class.disabled]="isLoading" [ngClass]="{'mic-active': this.currentBook.questionsActive}">
                  <i id="rewind" class="control" (click)="rewind()"><img src="../../../assets/icons/rewind-10.svg" alt="skip"></i>
                  <i id="prev" class="control" (click)="prevBook()"><img src="../../../assets/icons/skip_previous.svg" alt="skip"></i>

                  <i class="control" [ngClass]="{'pulse': this.currentBook.questionsActive}" (click)="togglePlayPause()">
                    <img [src]="getPlayPauseIcon()" alt="play pause">
                  </i>

                  <i id="next" class="control" (click)="nextBook()"><img src="../../../assets/icons/skip_next.svg" alt="skip"></i>
              </div>
          </div>

          <div class="side-buttons" >      
              <!--<div class="question-container" *ngIf="currentBook.questionsActive">
                <button class="question" *ngFor="let question of currentBook.playingPart.answers" (click)="nextPart(question.nextPartId)">{{question.text}}</button>
              </div>
              -->
              <i><img src="../../../assets/icons/full.svg" alt="skip"></i>
          </div>

          <audio #audioElement (timeupdate)="progressBarUpdate()" (ended)="activateQuestions()">
            <source  [src]="currentBook.playingPart.partAudioLink" type="audio/mpeg">
          </audio>
      </div>
        
      <div class="bottom-progress-area" (click)="updatePlayingTime($event)" #progressArea>
        <div class="bottom-progress-bar" [style.width]="progress + '%'"></div>
      </div>
     
    </div>

    <ng-template #fullscreen>
      <div class="fullscreen-player-container">

      </div>
    </ng-template>
</div>
