.show{
  visibility: visible;
}
.hide{
  visibility: hidden;
}

.main-container {
  /* Mobile default = no left margin */
  margin-left: 0;

  /* On desktop, shift 200px for the sidenav */
  @media (min-width: 768px) {
    margin-left: 200px;
  }

  ion-content {
    --padding-top: 0 !important;
    margin-top: 0 !important;
  }
}

router-outlet + * {
  flex: 1;
  overflow: auto; /* Adds scroll if content overflows */
  display: flex;
  flex-direction: column;
}

