.books {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 16px;
  
    .book {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 8px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  
      .book-image {
        width: 50px;
        height: 50px;
        border-radius: 8px;
        object-fit: cover;
      }
  
      .book-details {
        flex: 1;
        display: flex;
        flex-direction: column;
  
        .title {
          font-size: 16px;
          font-weight: bold;
          color: #000;

          &.playing {
            color: #a481ff; /* Highlight the playing title */
          }
        }
  
        .author {
          font-size: 14px;
          color: #666;
        }
      }
  
      .audio-duration {
        
      }
    }
  
    .searched-book:last-child {
      border-bottom: none;
    }
  }

.empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full height of the viewport */
    text-align: center;

    h1 {
      font-size: 24px;
      font-weight: bold;
      color: #000; /* Black text color for white background */
      margin-bottom: 8px;
    }

    p {
      font-size: 16px;
      color: #555; /* Dark gray text for subtitle */
    }
}


// for desktop
@media (min-width: 768px) {
    .wave-animation {
        width: 100px;
    }

    .books {
        height: calc(100vh - 170px);
    }
}