<ul class="notifications">
  <li *ngFor="let toast of toasts" [class]="'toast '+toast.id">
    <div class="column">
      <i [class]="'fa-solid '+toast.icon"></i>
      <span>{{ toast.text }}</span>
    </div>
    <i class="fa-solid fa-xmark" (click)="removeToast(toast)"></i>
  </li>
</ul>
<div class="buttons">
  <button class="btn" id="success" (click)="createToast('success')">Success</button>
  <button class="btn" id="error" (click)="createToast('error')">Error</button>
  <button class="btn" id="warning" (click)="createToast('warning')">Warning</button>
  <button class="btn" id="info" (click)="createToast('info')" >Info</button>
</div>
