.basket {
  overflow-x: hidden;
}

h3 {
  margin: 10px;
}

.books {
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Enables vertical scrolling */
  height: calc(100vh - 185px); /* Adjust the 100px to account for other elements like headers */
  width: 100%;
  justify-content: flex-start; /* Aligns items at the top vertically */
  align-items: stretch; /* Makes items stretch horizontally to fill the container */
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
      display: none;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  margin-left: 5px;
}

.book {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 width: 100%;
 height: auto;
 cursor: pointer;
 border-top: 1px solid rgba(128, 128, 128, 0.5); /* Adds a thin top border */
 box-shadow: 0 1px 0 rgba(128, 128, 128, 0.5); /* Creates a thin bottom border */
}

.book:hover{
  background-image: linear-gradient(to right, #fad8f9, #ecc9f6, #dabaf4, #c4aef3, #aaa2f3);
}

.book img{
  height: 70px;
  width: 70px;
  border-radius: 10%;
  padding: 5px;
  border-radius: 10px;
}

.book-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden; /* Prevent overflow */
  flex: 3;
}

.book-info{
  display: flex;
  flex-direction: column;
  margin-left: 10px; /* Adds some space between the image and text */
  overflow: hidden; /* Prevents text overflow */
}

.price{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.book-info span{
  font-size: 14px;
}

.book-info h4 {
  white-space: nowrap;      /* Prevents the text from wrapping */
  overflow: hidden;         /* Hides the overflowed text */
  text-overflow: ellipsis;  /* Adds an ellipsis (...) if the text is too long */          
}

#delete {
  flex: 1;
  text-align: right;
  margin-right: 5px;
}

#delete img {
  width: 35px;
  height: 35px;

  &:hover {
    transform: scale(1.10); /* Slightly grow the element on hover */
  }
}

// for mobile
@media (max-width: 768px) { 
  .books {
      height: calc(100vh - 170px);
  }

  .price {
    text-align: right;
  }
}