<div class="basket">
  <h3>Basket</h3>
  <div class="books" *ngIf="basket && basket.basketItems.length > 0;else noPurchases">
    <div class="book"*ngFor="let item of basket.basketItems" (click)="navigateToBook(item.book.id)">
      <div class="book-details">
        <img [src]="item.book.imageURL" alt="">
        <div class="book-info">
          <h4>{{item.book.title}}</h4>
          <span>Kumadio</span>
        </div>
    </div>
      <div class="price">
        <h4>Price</h4>
        <span>{{item.itemPrice}}$</span>
      </div>

      <i id="delete" (click)="removeBasketItem(item.id)"><img src="../../../assets/icons/delete.svg" alt="delete"></i>
    </div>
  </div>

  <ng-template #noPurchases>
    <h2>No books in basket</h2>
  </ng-template>
</div>