<div class="sidenav">

  <div class="topnav-lg">
    <span class="logo-span">
      <img class="logo-img" src="../../../assets/logo_no_t.png" alt="logo">
      <p class="logo-text">Kumadio</p>
    </span>
  </div>

  <span class="menu_ctg" [routerLink]="['/home']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" *ngIf="currentUser?.role === 2 || currentUser?.role === 1">
    <img src="../../../assets/icons/home.svg" alt="home"><a>Home</a>
  </span>
  <span class="menu_ctg" [routerLink]="['/home/discover']" routerLinkActive="active-link" *ngIf="currentUser?.role === 2 || currentUser?.role === 1">
    <img src="../../../assets/icons/search.svg" alt="search"><a>Search</a>
  </span>
  <span class="menu_ctg" [routerLink]="['/home/library']" routerLinkActive="active-link" *ngIf="currentUser?.role === 2 || currentUser?.role === 1">
    <img src="../../../assets/icons/library.svg" alt="library"><a>Library</a>
  </span>

  <span class="menu_ctg" [routerLink]="['/home/statistics']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" *ngIf="currentUser?.role === 3">
    <img src="../../../assets/icons/home.svg" alt="home"><a>Statistics</a>
  </span>
  <span class="menu_ctg" [routerLink]="['/home/create-book']" routerLinkActive="active-link" *ngIf="currentUser?.role === 3">
    <img src="../../../assets/icons/library.svg" alt="library"><a>Create</a>
  </span>
  <span class="menu_ctg" [routerLink]="['/home/my-books']" routerLinkActive="active-link" *ngIf="currentUser?.role === 3">
    <img src="../../../assets/icons/library.svg" alt="library"><a>My books</a>
  </span>

  <span *ngIf="currentUser?.role === 2" class="menu_ctg my-prof" [routerLink]="['/home/basket']" routerLinkActive="active-link">
    <img src="../../../assets/icons/cart.svg" alt="settings"><a>My cart</a><span>{{ itemsCount }}</span>
  </span>
  <span class="menu_ctg my-prof" [routerLink]="['/home/my-profile']" routerLinkActive="active-link">
    <img src="../../../assets/icons/settings.svg" alt="settings"><a>My Profile</a>
  </span>

</div>


<div class="topnav-mob">
  <span class="logo-span" *ngIf="!isSearchActive">
    <img class="logo-img" src="../../../assets/logo_no_t.png" alt="logo">
  </span>
  <div class="mob-icons" *ngIf="!isSearchActive">
    <span class="menu_ctg" (click)="toggleSearch()">
      <img src="../../../assets/icons/search.svg" alt="search">
    </span>
    <span class="menu_ctg" [routerLink]="['/home/my-profile']" routerLinkActive="active-link">
      <img src="../../../assets/icons/settings.svg" alt="profile">
    </span>
  </div>

  <span *ngIf="isSearchActive" class="back-arrow" (click)="toggleSearch()">
    <img src="../../../assets/icons/back-arrow.svg" alt="back">
  </span>

  <!-- Search Input -->
  <div *ngIf="isSearchActive" class="search-container">
    <span class="search-icon " >
      <img src="../../../assets/icons/search24gray.svg" alt="search">
    </span>
    <input type="text" placeholder="Search..." class="search-input" />
    <span class="close-icon" (click)="toggleSearch()">
      <img src="../../../assets/icons/close-icon.svg" alt="close">
    </span>
  </div>
</div>
