<!-- <div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed':'' ">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">A</button>
    <div class="logo-text" *ngIf="collapsed">Angular</div>
    <button class="btn-close" *ngIf="collapsed" (click)="closesSidenav()">
      <i class="fal fa-times close-icon "></i>
    </button>
  </div>
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item" *ngFor="let data of navData">
      <a [routerLink]="[data.routeLink]" class="sidenav-nav-link">
        <i [class]="data.icon" class="sidenav-link-icon"></i>
        <span class="sidenav-link-text" *ngIf="collapsed">{{data.label}}</span>
      </a>
    </li>
  </ul>
</div> -->

<div class="sidenav">

  <div class="topnav-lg">
    <span class="logo-span">
      <img class="logo-img" src="../../../assets/logo_no_t.png" alt="logo">
      <p class="logo-text">Kumadio</p>
    </span>
  </div>



  <span class="menu_ctg" [routerLink]="['/home']">
    <img src="../../../assets/icons/home.svg" alt="home"><a>Home</a>
  </span>
  <span class="menu_ctg">
    <img src="../../../assets/icons/search.svg" alt="search"><a>Search</a>
  </span>
  <span class="menu_ctg" [routerLink]="['/home/library']">
    <img src="../../../assets/icons/library.svg" alt="library"><a>Library</a>
  </span>
  <span class="menu_ctg my-prof" [routerLink]="['/home/my-profile']">
    <img src="../../../assets/icons/settings.svg" alt="settings"><a>My Profile</a>
  </span>
</div>


<div class="topnav-mob">
  <span class="logo-span">
    <img class="logo-img" src="../../../assets/logo_no_t.png" alt="logo">
    <p class="logo-text">Kumadio</p>
  </span>

  <img src="../../../assets/icons/settings.svg" alt="settings">
</div>
