<div class="sidenav">

  <div class="topnav-lg">
    <span class="logo-span">
      <img class="logo-img" src="../../../assets/logo_no_t.png" alt="logo">
      <p class="logo-text">Kumadio</p>
    </span>
  </div>



  <span class="menu_ctg" [routerLink]="['/home']" routerLinkActive="active-link">
    <img src="../../../assets/icons/home.svg" alt="home"><a>Home</a>
  </span>
  <span class="menu_ctg" [routerLink]="['/home/discover']" routerLinkActive="active-link">
    <img src="../../../assets/icons/search.svg" alt="search"><a>Search</a>
  </span>
  <span class="menu_ctg" [routerLink]="['/home/library']" routerLinkActive="active-link">
    <img src="../../../assets/icons/library.svg" alt="library"><a>Library</a>
  </span>
  <span class="menu_ctg my-prof" [routerLink]="['/home/basket']" routerLinkActive="active-link">
    <img src="../../../assets/icons/cart.svg" alt="settings"><a>My cart</a><span>{{ itemsCount }}</span>
  </span>
  <span class="menu_ctg my-prof" [routerLink]="['/home/my-profile']" routerLinkActive="active-link">
    <img src="../../../assets/icons/settings.svg" alt="settings"><a>My Profile</a>
  </span>

</div>


<div class="topnav-mob">
  <span class="logo-span">
    <img class="logo-img" src="../../../assets/logo_no_t.png" alt="logo">
    <p class="logo-text">Kumadio</p>
  </span>
<div class="mob-icons">
  <span class="menu_ctg my-prof-mob" [routerLink]="['/home/my-profile']" routerLinkActive="active-link">
    <img src="../../../assets/icons/settings.svg" alt="settings">
  </span>
  <span class="menu_ctg my-prof-mob" [routerLink]="['/home/basket']" routerLinkActive="active-link">
    <img src="../../../assets/icons/cart.svg" alt="settings"><span>{{ itemsCount }}</span>
  </span>
</div>
</div>
