img {
  width: 200px; /* Set the width to 50 pixels */
  height: 200px; /* Set the height to 50 pixels */
  object-fit: cover; /* Maintain aspect ratio and cover the 50x50 box */

#body-container {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // text-align: center;

}
}
@media (min-width: 768px) {
  #body-container {
    margin-left: 200px;
    max-width: 1100px;

  }
}

.show{
  visibility: visible;
}
.hide{
  visibility: hidden;
}
