<div class="sidenav">

  <div class="topnav-lg">
    <span class="logo-span" [routerLink]="['/creator']" >
      <img class="logo-img" src="../../../../assets/logo_no_t.png" alt="logo">
      <p class="logo-text">Kumadio</p>
    </span>
  </div>

  <a class="menu_ctg" [routerLink]="['/creator']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
    <img src="../../../../assets/icons/insights_24dp_434343.svg" alt="search">
    <span>Analytics</span>
  </a>
  <a class="menu_ctg" [routerLink]="['/creator/create-book']" routerLinkActive="active-link">
    <img src="../../../../assets/icons/add_circle_outline_24dp_434343.svg" alt="library">
    <span>Create</span>
  </a>

  <a class="menu_ctg"  [routerLink]="['/creator/my-books']" routerLinkActive="active-link">
    <img src="../../../../assets/icons/library.svg" alt="library">
    <span>My books</span>
  </a>

  <a class="menu_ctg my-prof" [routerLink]="['/creator/profile']" routerLinkActive="active-link">
    <img src="../../../../assets/icons/settings.svg" alt="library">
    <span>My profile</span>
  </a>
</div>

<div class="topnav-mob">
  <span class="logo-span" [routerLink]="['/creator']" >
    <img class="logo-img" src="../../../../assets/logo_no_t.png" alt="logo">
  </span>
  <div class="mob-icons" >
    <span class="menu_ctg" [routerLink]="['/creator/my-profile']" routerLinkActive="active-link">
      <img src="../../../../assets/icons/settings.svg" alt="profile">
    </span>
  </div>
</div>
