<div class="discover-container">
    <app-search-bar></app-search-bar>
  <div class="container">
    <div class="categories">
      <div class="categorie" *ngFor="let category of bookCategories">
        <h3 (click)="getBooksFromCategory(category.id)">{{category.categoryName}}</h3>
      </div>
    </div>

    <div class="books" #booksContainer>
      <div class="book" *ngFor="let book of books" (click)="navigateToBook(book.id)">
        <h3>{{book.title}}</h3>
        <img [src]="book.imageURL" alt="">
      </div>
      <span *ngIf="noMoreBooks">There is no more books to load</span>
    </div>
  </div>
</div>

