<div class="discover-container">
  <app-search-bar></app-search-bar>

  <div class="content-container">
    <div class="categories">
      <div class="categorie" [ngClass]="category.id === currentCategory ? 'categorie active-categorie': 'categorie'" *ngFor="let category of bookCategories;">
        <p (click)="getBooksFromCategory(category.id)">{{category.categoryName}}</p>
      </div>
    </div>

    <app-book-list [books]="books" [noMoreBooks]="noMoreBooks"></app-book-list>
  </div>

</div>

