<div class="discover-container">
  <!-- Search bar remains at the top 
  <app-search-bar></app-search-bar>

  <div class="content-container">
  
    <div class="categories">
      <div
        class="categorie"
        [ngClass]="category.id === currentCategory ? 'categorie active-categorie' : 'categorie'"
        *ngFor="let category of bookCategories;"
      >
        <p (click)="getBooksFromCategory(category.id)">{{ category.categoryName }}</p>
      </div>
    </div>

    <div class="book-list-container" #bookListContainer>
      <app-book-list [books]="books" [noMoreBooks]="noMoreBooks"></app-book-list>
    </div>
  </div>
-->

  <div class="grid-container">
    <div class="grid-item" *ngFor="let item of items">
      <img [src]="item.imageUrl" alt="Image" class="item-image" />
      <div class="item-text">{{ item.title }}</div>
    </div>
  </div>

  <div class="main-book-div" *ngFor="let category of categories;let index = index;">
    <div class="cat-head">

      <h2>{{category.category | bookCategoryPipe}}</h2>
      <h5>View All</h5>
    </div>

    <app-slider  [size]="(index % 2 === 0) ? 'big' : 'small'" [books]="category.books" [sliderId]="index.toString()"></app-slider>
  </div>

</div>


