.discover-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow-y: hidden; /* Prevents the entire content from scrolling */
}

.content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1; /* Fills the remaining space */
  overflow: hidden; /* Prevents scrolling of the entire content */
  padding-top: 65px; /* Adds space equal to the search bar's height */
}

.book-list-container {
  overflow-y: auto; /* Enables vertical scrolling */
  width: 100%;
  flex: 1; /* Fills the remaining space */
  
}

.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; /* Prevents wrapping to the next line */
  overflow-x: auto;  /* Enables horizontal scrolling */
  overflow-y: hidden;
  margin-bottom: 2%;
  padding: 0 4px; /* Adjusted to prevent overflow caused by padding */
  width: 100%;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  height: 25px;
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on mobile */
}

.categories::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers(chrome safari) */
}

/* Hide scrollbar for Firefox */
.categories {
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

/* For older versions of Internet Explorer and Edge */
.categories {
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
}



.categorie {
  flex: 0 0 auto; /* Prevents items from shrinking or growing */
  margin: 0 5px; /* Simplified margin */
  padding: 1px;
  border-radius: 25px;
  box-shadow: 0px 1px 3px 2px rgba(0,0,0,0.12);
  background: #fff;
  color: black;
  font-weight: 200;
  font-size: small;
}

.active-categorie {
  font-weight: bolder;
}

//mobile view
@media (max-width: 768px) {
  .categories .categorie:first-child {
    margin-left: 0; /* Ensure the first category has no left margin */
  }

  .categories {
    justify-content: flex-start; /* Ensure left alignment on mobile */
  }
}
