<div class="container">
  <img class="logo-login" src="../../../assets/logo.png">
  <h2>Registration</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input class="input_1" type="email" id="email" placeholder="Email" name="email" [(ngModel)]="user.email" required>
    </div>
    <div class="form-group">
      <input class="input_1" type="password" id="password" placeholder="Password" name="password" [(ngModel)]="user.password" required>
    </div>
    <div class="form-group">
      <input class="input_1" type="password" id="confirmPassword" placeholder="Confirm Password" name="confirmPassword" [(ngModel)]="user.confirmPassword" required>
      <div *ngIf="passwordsMismatch" class="error-message">Passwords do not match.</div>
    </div>
    <p class="terms">By signing up, you agree to our Terms,
      Data Policy and Cookies Policy.</p>
    <button type="submit" class="btn_prim" [disabled]="passwordsMismatch">Register</button>
    <button type="button" class="btn_ghost">Cancel</button>
  </form>
</div>
