<div (mouseup)="dragStop()" [ngClass]="['slider-box', size]">
  <div [ngClass]="'wrapper '+'wrapper'+ sliderId" >
    <i [id]="'left'+ sliderId" class="fa-solid fa-angle-left" (click)="arrowButtonsClick(leftButton)" #leftButton></i>
    <ul [ngClass]="'carousel '+'carousel'++ sliderId" (mousedown)="dragStart($event)" (mousemove)="dragging($event)" >

      <li [ngClass]="'card '+'card'+ sliderId" *ngFor="let book of bookPaginated.books" (click)="navigateToBook(book.id)">
        <div class="img"><img [src]="book.imageURL" alt="img" draggable="false"></div>
        <span class="book-title">{{book.title}}</span>
        <span class="book-author">Author name</span>
      </li>
    </ul>
    <i [id]="'right'+ sliderId" class="fa-solid fa-angle-right" (click)="arrowButtonsClick(rightButton)" #rightButton></i>
  </div>
</div>
