<div (mouseup)="dragStop()" class="slider-box">
  <div [ngClass]="'wrapper '+'wrapper'+bookPaginated.booksCategory" ><!--(mouseenter)="clearTimeout()">-->
    <i [id]="'left'+bookPaginated.booksCategory" class="fa-solid fa-angle-left" (click)="arrowButtonsClick(leftButton)" #leftButton></i>
    <ul [ngClass]="'carousel '+'carousel'+bookPaginated.booksCategory" (mousedown)="dragStart($event)" (mousemove)="dragging($event)" > <!--(scroll)="infiniteScroll()">-->

      <li [ngClass]="'card '+'card'+bookPaginated.booksCategory" *ngFor="let book of bookPaginated.books" (click)="navigateToBook(book.id)">
        <div class="img"><img [src]="book.imageURL" alt="img" draggable="false"></div>
        <h4>{{book.title}}</h4>
      </li>

    </ul>

    <i [id]="'right'+bookPaginated.booksCategory" class="fa-solid fa-angle-right" (click)="arrowButtonsClick(rightButton)" #rightButton></i>
  </div>
</div>
