// sidebar styling for mobile 
.sidenav {
  background-color: var(--main-bg-color);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0px -1px 8px 0px rgba(25, 17, 121, 0.10);
  display: flex;
  justify-content: space-around;
  align-content: center;
  z-index: 999;
}
.menu_ctg {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 12px;
  transition: all 0.5s ease;
  margin-top: 0.5rem;
  cursor: pointer;

  img {
    height: 25px;
    transition: filter 0.3s ease; /* Smooth transition for color change */
  }

  &.active-link {
    font-weight: bolder;
    color: #a481ff;

  }
}
.menu_ctg:hover {
  cursor: pointer;
  opacity: 0.8;

  &:hover {
    transform: scale(1.05); /* Slightly grow the element on hover */
  }
}

a.menu_ctg {
  text-decoration: none;
  color: black;
}

.topnav-mob {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  top: 0;
  background-color: var(--main-bg-color);
  /* Remove or comment out overflow: hidden; */
  /* overflow: hidden; */
  overflow: visible; /* Allow content to overflow if necessary */
  position: fixed;
  /* Replace height: 50px; with min-height: 50px; */
  min-height: 50px;
  width: 100%;
  padding: 5px;
  z-index: 999;
  transition: opacity 0.3s ease;
  box-sizing: border-box; /* Ensure consistent sizing */

  .logo-img {
    max-width: 50px;
  }

  .logo-span {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: opacity 0.3s ease;
  }
  .logo-text {
    color: linear-gradient(180deg, #33406D 0%, #061630 100%);
    font-weight: 800;
    font-size: 1.2rem;
  }
  .logo-text::after {
    bottom: 0;
    color: var(--text-orange);
    content: '.';
  }
}
.topnav-lg {
  display: none;
}
.my-prof {
  display: none;
}

.mob-icons {
  display: flex;
  gap: 1rem;
  opacity: 1;
  span {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
  }
}

.search-container {
  display: flex;
  align-items: center;
  border-radius: 25px;
  width: calc(100% - 50px); /* Full width minus space for back arrow */
  height: 90%;
  margin-left: 50px;
  background-color: #a481ff; /* Set background color */
  position: relative;
}

.back-arrow {
  position: absolute;
  left: 10px;
  top: 55%;
  transform: translateY(-50%);
  z-index: 1001;
}

.back-arrow, .close-icon, .search-icon {
  cursor: pointer;
  padding: 5px;
}

.search-icon {
  position: absolute;
  left: 10px; /* Inside the search input */
  top: 60%;
  transform: translateY(-50%);
  z-index: 1;
  color: black;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  padding: 8px 40px 8px 40px; /* Space for search and close icons */
  font-size: 1rem;
  border-radius: 25px;
  box-sizing: border-box;
}

.search-input::placeholder {
  color: #bbb;
}

.back-arrow img, .close-icon img, .search-icon img {
  width: 20px;
  height: 20px;
}

/* Align close icon to the right inside the search container */
.close-icon {
  position: absolute;
  right: 10px;
  top: 60%;
  transform: translateY(-50%);
  z-index: 1;
}

// sidebar styling for desktop
@media (min-width: 768px) {
  .my-prof-mob {
    display: flex;
  }
  .sidenav {
    background-color: var(--main-bg-color);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    padding: 1rem;
    z-index: 999;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    bottom: auto;
  }
  .my-prof {
    display: flex;
  }
  .menu_ctg {
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    gap: 0.5rem;
    font-size: 12px;
    transition: all 0.5s ease;
    margin: 0.5rem;
    cursor: pointer;
  }
  .topnav-mob {
    display: none;
  }

  .topnav-lg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    .logo-span {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .logo-img {
      width: 75px;
    }
    .logo-text {
      color: linear-gradient(180deg, #33406D 0%, #061630 100%);
      font-weight: 800;
      font-size: 1.2rem;
    }
    .logo-text::after {
      bottom: 0;
      color: var(--text-orange);
      content: '.';
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}
