<div class="sidenav">

  <div class="topnav-lg">
    <span class="logo-span" [routerLink]="['/home']" >
      <img class="logo-img" src="../../../../assets/logo_no_t.png" alt="logo">
      <p class="logo-text">Kumadio</p>
    </span>
  </div>

  <a class="menu_ctg" [routerLink]="['/home']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
    <img src="../../../../assets/icons/home.svg" alt="search">
    <span>Početna</span>
  </a>

  <a class="menu_ctg" [routerLink]="['/home/discover']" routerLinkActive="active-link" >
    <img src="../../../../assets/icons/search.svg" alt="search">
    <span>Istraži</span>
  </a>

  <a class="menu_ctg" [routerLink]="['/home/library']" routerLinkActive="active-link" >
    <img src="../../../../assets/icons/library.svg" alt="search">
    <span>Biblioteka</span>
  </a>

  <a class="menu_ctg my-prof" [routerLink]="['/home/my-profile']" routerLinkActive="active-link" >
    <img src="../../../../assets/icons/settings.svg" alt="search">
    <span>Moj profil</span>
  </a>

</div>


<div class="topnav-mob">
  <span class="logo-span" *ngIf="!(isSearchActive$ | async)"  @slideUpDownLogo [routerLink]="['/home']" >
    <img class="logo-img" src="../../../../assets/logo_no_t.png" alt="logo">
  </span>
  <div class="mob-icons" *ngIf="!(isSearchActive$ | async)"  @slideInIcons>
    <span class="menu_ctg" (click)="toggleSearch()" [routerLink]="['/home/search']">
      <img src="../../../../assets/icons/search.svg" alt="search">
    </span>
    <span class="menu_ctg" [routerLink]="['/home/my-profile']" routerLinkActive="active-link">
      <img src="../../../../assets/icons/settings.svg" alt="profile">
    </span>
  </div>

  <span *ngIf="(isSearchActive$ | async)" class="back-arrow" (click)="toggleSearch()" @slideDownUp>
    <img src="../../../../assets/icons/back-arrow.svg" alt="back">
  </span>

  <!-- Search Input -->
  <div *ngIf="(isSearchActive$ | async)" class="search-container" @slideInOut>
    <span class="search-icon " >
      <img src="../../../../assets/icons/search24gray.svg" alt="search">
    </span>
    <input [formControl]="searchControl" type="text" placeholder="Search..." class="search-input" />
    <span class="close-icon" (click)="toggleSearch()">
      <img src="../../../../assets/icons/close-icon.svg" alt="close">
    </span>
  </div>
</div>
